<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stack.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @stack.position %>
</p>

<p>
  <strong>Board:</strong>
  <%= @stack.board_id %>
</p>

<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>
